#countryCheckBoxes {
    -webkit-column-count: 8; 
    -moz-column-count: 8;
    column-count: 8;
    
}


.divider{
    width:50px;
    height:auto;
    display:inline-block;
}

*{
	
	font-family: Arial;
}

#submitButton {
	text-align: center;

}



.divider {
	width: 20px;

}

#multiSelectors {
	text-align: center;
}

button {
	padding: 5px;
}

#intros {
	height: 80px
}