#countryCheckBoxes {
    -webkit-column-count: 8; /* Chrome, Safari, Opera */
    -moz-column-count: 8; /* Firefox */
    column-count: 8;
    
}


.divider{
    width:50px;
    height:auto;
    display:inline-block;
}



